{% extends 'base.html.twig' %}

{% block title %}Détail de la série{% endblock %}

{% block body %}

<h1>{{ program.title }}</h1>
<h2>Saison {{ season.number }}</h2>
<p>{{ season.description }}</p>

    {% for episode in season.episodes %}
        <h3>Episode {{ episode.number }} : {{ episode.title }}</h3>
        <p>{{ episode.synopsis }}</p>
    {% endfor %}
<a href="{{ path('program_show', { programId:program.id }) }}">
Retour à la fiche de la série
</a>
{% endblock %}